# Ensure .mjs files are served with the correct javascript MIME type
AddType application/javascript .mjs
AddType application/javascript .js

<IfModule mod_php7.c>
    php_value post_max_size 256M
    php_value upload_max_filesize 256M
    php_value max_input_vars 100000
    php_value memory_limit 1024M
    php_value max_execution_time 300
</IfModule>
<IfModule mod_php.c>
    php_value post_max_size 256M
    php_value upload_max_filesize 256M
    php_value max_input_vars 100000
    php_value memory_limit 1024M
    php_value max_execution_time 300
</IfModule>